<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flittly.bankendspringboot.mapper.QuestionDetailMapper">

    <resultMap id="QuestionDetailResult" type="com.flittly.bankendspringboot.entity.QuestionDetail">
        <id property="postId" column="post_id" typeHandler="com.flittly.bankendspringboot.config.UUIDTypeHandler"/>
        <result property="isAccepted" column="is_accepted"/>
        <result property="acceptedAnswerId" column="accepted_answer_id" typeHandler="com.flittly.bankendspringboot.config.UUIDTypeHandler"/>
    </resultMap>

    <select id="findByPostId" resultMap="QuestionDetailResult">
        SELECT * FROM question_details
        WHERE post_id = #{postId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler}
    </select>

    <insert id="insert" useGeneratedKeys="false">
        INSERT INTO question_details (post_id, is_accepted, accepted_answer_id)
        VALUES (#{postId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler},
                #{isAccepted},
                #{acceptedAnswerId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler})
    </insert>

    <update id="updateAccepted">
        UPDATE question_details
        SET is_accepted = #{isAccepted},
            accepted_answer_id = #{acceptedAnswerId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler}
        WHERE post_id = #{postId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler}
    </update>

</mapper>



