<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flittly.bankendspringboot.mapper.LikeMapper">

    <resultMap id="LikeResult" type="com.flittly.bankendspringboot.entity.Like">
        <id property="id" column="id" typeHandler="com.flittly.bankendspringboot.config.UUIDTypeHandler"/>
        <result property="userId" column="user_id" typeHandler="com.flittly.bankendspringboot.config.UUIDTypeHandler"/>
        <result property="targetId" column="target_id" typeHandler="com.flittly.bankendspringboot.config.UUIDTypeHandler"/>
        <result property="targetType" column="target_type" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="findByUserAndTarget" resultMap="LikeResult">
        SELECT * FROM likes
        WHERE user_id = #{userId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler}
          AND target_id = #{targetId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler}
          AND target_type = #{targetType, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
    </select>

    <insert id="insert" useGeneratedKeys="false">
        INSERT INTO likes (id, user_id, target_id, target_type, created_at)
        VALUES (#{id, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler},
                #{userId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler},
                #{targetId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler},
                #{targetType, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
                #{createdAt})
    </insert>

    <delete id="deleteByUserAndTarget">
        DELETE FROM likes
        WHERE user_id = #{userId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler}
          AND target_id = #{targetId, typeHandler=com.flittly.bankendspringboot.config.UUIDTypeHandler}
          AND target_type = #{targetType, typeHandler=org.apache.ibatis.type.EnumTypeHandler}
    </delete>

</mapper>
